/.idea/
/precheck_results/
*/tmp
*/*/tmp
*.hex*
*.lst
*.vvp
*.vcd
*.gtkw
*.o
*.elf
*.bin
*.hex
*.hexe
/env
/venv
/caravel
/dependencies
/mgmt_core_wrapper
/logs
/venv-cocotb
*.vpd
*.key
/verilog/dv/*/module_tests/sim_build
/verilog/dv/*/module_tests/DVEfiles
/verilog/dv/*/module_tests/.restartSimSession.tcl.old
/verilog/dv/*/*.log
/verilog/dv/*/.nfs*
/verilog/dv/team_*/team*.h
